<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::marketing">
                    <resource id="ETechFlow_BackInStockNotification::subscriptions"
                              title="ETechFlow BISN Subscriptions"
                              translate="title"
                              sortOrder="55">
                        <resource id="ETechFlow_BackInStockNotification::subscriptions_delete"
                                  title="Delete subscriptions"
                                  translate="title"/>
                        <resource id="ETechFlow_BackInStockNotification::subscriptions_notify_now"
                                  title="Force-notify subscriptions"
                                  translate="title"/>
                    </resource>
                </resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="ETechFlow_BackInStockNotification::config"
                                      title="ETechFlow Back-in-Stock Notification"
                                      translate="title"
                                      sortOrder="50"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>