<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <etechflow_bisn>
            <license>
                <production_environment>1</production_environment>
                <issued_key></issued_key>
                <issued_at>0</issued_at>
                <ip_blocked>0</ip_blocked>
                <portal_url>https://nonanarchically-rambunctious-lashay.ngrok-free.dev/license/validate</portal_url>
            </license>
            <general>
                <enabled>1</enabled>
                <email_rate_limit>60</email_rate_limit>
                <subscription_lifetime_days>180</subscription_lifetime_days>
                <double_opt_in>0</double_opt_in>
            </general>
            <notifications>
                <email_sender>general</email_sender>
                <email_template>etechflow_bisn_back_in_stock</email_template>
            </notifications>
            <integrations>
                <use_nde_eligibility>0</use_nde_eligibility>
                <use_bed_eta>0</use_bed_eta>
                <use_isp_per_store>0</use_isp_per_store>
            </integrations>
        </etechflow_bisn>
    </default>
</config>