<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!--
        Standard Magento admin-grid data source.
        SearchResult uses Document items (which implement getCustomAttributes())
        so the UI DataProvider can render rows. mainTable + resourceModel point
        at our subscription table.
    -->
    <virtualType name="ETechFlowBisnSubscriptionGridSearchResult"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">etechflow_bisn_subscription</argument>
            <argument name="resourceModel" xsi:type="string">ETechFlow\BackInStockNotification\Model\ResourceModel\Subscription</argument>
            <argument name="identifierName" xsi:type="string">subscription_id</argument>
        </arguments>
    </virtualType>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="etechflow_bisn_subscription_listing_data_source"
                      xsi:type="string">ETechFlowBisnSubscriptionGridSearchResult</item>
            </argument>
        </arguments>
    </type>
</config>