<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="etechflow" translate="label" sortOrder="200">
            <label>eTechFlow</label>
        </tab>

        <section id="etechflow_bisn" translate="label" sortOrder="50"
                 showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Back-in-Stock Notification</label>
            <tab>etechflow</tab>
            <resource>ETechFlow_BackInStockNotification::config</resource>

            <!-- LICENSE -->
            <group id="license" translate="label" sortOrder="10"
                   showInDefault="1" showInWebsite="1" showInStore="1">
                <label>License</label>
                <field id="license_key" translate="label comment" sortOrder="10" type="text"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>License Key</label>
                    <comment><![CDATA[Paste your eTechFlow SP-XXXX subscription key. Generated automatically after Stripe payment.]]></comment>
                </field>
                <field id="issued_key" translate="label comment" sortOrder="20" type="obscure"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Issued Key (auto)</label>
                    <comment><![CDATA[Set automatically on first successful validation. Do not edit.]]></comment>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
                <field id="portal_url" translate="label comment" sortOrder="25" type="text"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>License Portal URL</label>
                    <comment><![CDATA[eTechFlow licensing portal endpoint. Update when your ngrok URL changes.]]></comment>
                </field>
                <field id="bundle_license_key" translate="label comment" sortOrder="30" type="obscure"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Bundle License Key</label>
                    <comment><![CDATA[Shared key that activates all eTechFlow modules on this host.]]></comment>
                    <config_path>etechflow_bundle/license/license_key</config_path>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
            </group>

            <!-- PAYMENT (STRIPE) -->

            <!-- GENERAL -->
            <group id="general" translate="label" sortOrder="20"
                   showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Settings</label>
                <field id="enabled" translate="label comment" sortOrder="10" type="select"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Module Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="email_rate_limit" translate="label comment" sortOrder="20" type="text"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Email Rate Limit (per minute)</label>
                    <comment><![CDATA[Max notifications sent per minute. Default 60.]]></comment>
                    <validate>validate-digits validate-greater-than-zero</validate>
                </field>
                <field id="subscription_lifetime_days" translate="label comment" sortOrder="30" type="text"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Subscription Lifetime (days)</label>
                    <comment><![CDATA[Auto-expire unfulfilled subscriptions. 0 = never.]]></comment>
                    <validate>validate-digits</validate>
                </field>
                <field id="double_opt_in" translate="label comment" sortOrder="40" type="select"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Require Double Opt-In</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>

            <!-- SUITE INTEGRATIONS -->
            <group id="integrations" translate="label" sortOrder="30"
                   showInDefault="1" showInWebsite="1" showInStore="1">
                <label>eTechFlow Suite Integrations</label>
                <field id="use_nde_eligibility" translate="label comment" sortOrder="10" type="select"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Use NDE Eligibility Rules</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="use_bed_eta" translate="label comment" sortOrder="20" type="select"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Include BED ETA in Email</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="use_isp_per_store" translate="label comment" sortOrder="30" type="select"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Allow Per-Pickup-Store Subscriptions</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>

            <!-- NOTIFICATIONS -->
            <group id="notifications" translate="label" sortOrder="40"
                   showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Notifications</label>
                <field id="email_sender" translate="label comment" sortOrder="10" type="select"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sender</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Identity</source_model>
                </field>
                <field id="email_template" translate="label comment" sortOrder="20" type="text"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Email Template ID</label>
                    <comment><![CDATA[Default: <code>etechflow_bisn_back_in_stock</code>]]></comment>
                </field>
            </group>
        </section>
    </system>
</config>